<div class="section">
    <h1>Colors</h1>
    <table class="uniformTable">
        <thead class="dark">
            <tr>
                <th></th>
                <th>sass</th>
                <th>class</th>
            </tr>
        </thead>
    <% %w(green blue red gray yellow).each do |color| %>
        <% ["-light", "", "-dark"].each do |style| %>
            <tr>
                <td><span class='swatch bg-<%= color %><%= style %>'></span></td>
                <td><code>$<%= color %><%= style %></code></td>
                <td><code>[class]-<%= color %><%= style %></code></td>
            </tr>
        <% end %>
        <tr><td colspan='3'>&nbsp;</td></tr>
    <% end %>
    </table>
</div>
