<div class="section">
    <h1>Grid</h1>
    <p>Uses flexbox with a host of helper options.</p>
    <% block = html_block do %>
    <div class="grid">
        <div class="col">content</div>
        <div class="col">content</div>
        <div class="col">content</div>
    </div>
    <% end %>
    <%= block %>
</div>
<div class="section">
    <h3>Grid Options</h3>
    <% [
        'grid-center',
        'grid-top',
        'grid-bottom',
        'grid-stretch',
        'grid-h-left',
        'grid-h-center',
        'grid-h-right',
        'grid-h-around',
        'grid-h-between'
    ].each do |klass| %>
        <div class="rounded margin-bottom bg-white border overflow-hidden">
        <div class="pad-half text-mono bg-gray text-white">
            .<%= klass %>
        </div>
        <div class="grid <%= klass %> border-top">
            <div class="col border-white" style="background: #9bcff7">
                <div class="max-width-150-px" style="background: #bddeff">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
            </div>
            <div class="col border-white" style="background: #9bcff7">
                <div class="max-width-200-px" style="background: #bddeff">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                </div>
            </div>
            <div class="col border-white" style="background: #9bcff7">
                <div class="max-width-150-px" style="background: #bddeff">
                    Lorem sed do eiusmod tempor incididunt.
                </div>
            </div>
        </div>
        </div>
    <% end %>

    <% [
        'grid-v-top',
        'grid-v-center',
        'grid-v-bottom',
        'grid-v-around',
        'grid-v-between',
        'grid-v-stretch'
    ].each do |klass| %>
        <div class="rounded margin-bottom bg-white border overflow-hidden">
        <div class="pad-half text-mono bg-gray text-white">
            .<%= klass %>
        </div>
        <div class="grid <%= klass %> height-300-px border-top">
            <div class="col-4 border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col-4</div>
            </div>
            <div class="col-4 border-white" style="background: #9bcff7">
                <div class="height-100-px" style="background: #bddeff">col-4 height-100-px</div>
            </div>
            <div class="col-4 border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col-4</div>
            </div>

            <div class="col-4 border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col-4</div>
            </div>

            <div class="col-4 border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col-4</div>
            </div>

            <div class="col-4 border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col-4</div>
            </div>

            <div class="col-4 border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col-4</div>
            </div>
        </div>
        </div>
    <% end %>
    
    
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .grid-nowrap
    </div>
    <div class="grid grid-nowrap">
        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>
        <div class="col-4 border-white" style="background: #9bcff7">
            <div class="height-100-px" style="background: #bddeff" >col-4 height-100-px</div>
        </div>
        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>

        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>

        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>

        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>

        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>
    </div>
    </div>
    
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .grid-vertical
    </div>
    <div class="grid grid-vertical">
        <div class="col border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col</div>
        </div>
        <div class="col border-white" style="background: #9bcff7">
            <div class="height-100-px" style="background: #bddeff">col height-100-px</div>
        </div>
        <div class="col border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col</div>
        </div>
    </div>
    </div>
    
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .grid-gutter-none
    </div>
    <div class="grid grid-gutter-none">
        <div class="col border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col</div>
        </div>
        <div class="col border-white" style="background: #9bcff7">
            <div class="height-100-px" style="background: #bddeff">col height-100-px</div>
        </div>
        <div class="col border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col</div>
        </div>
    </div>
    </div>
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .grid-nest
    </div>
    <div class="pad">
        <div class="text-mono margin-bottom">padded div</div>
        <div class="grid grid-nest">
            <div class="col border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col</div>
            </div>
            <div class="col border-white" style="background: #9bcff7">
                <div class="height-100-px" style="background: #bddeff">col height-100-px</div>
            </div>
            <div class="col border-white" style="background: #9bcff7">
                <div style="background: #bddeff">col</div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="section">
    <h3>Col Options</h3>
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .col-fill
    </div>
    <div class="grid">
        <div class="col border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col</div>
        </div>
        <div class="col border-white" style="background: #9bcff7">
            <div class="width-200-px" style="background: #bddeff">
                col > width-200-px
            </div>
        </div>
        <div class="col-fill border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-fill</div>
        </div>
    </div>
    </div>
    
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .col-#
    </div>
    <div class="grid">
        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>
        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>
        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>
        <div class="col-2 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-2</div>
        </div>
        <div class="col-6 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-6</div>
        </div>
        <div class="col-4 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col-4</div>
        </div>
    </div>
    </div>
    
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .col-push-#
    </div>
    <div class="grid">
        <div class="col-3 col-push-2 border-white" style="background: #9bcff7">
            <div style="background: #bddeff">.col-3 .col-push-2</div>
        </div>
    </div>
    </div>
    
    
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .col-center / .col-bottom / .col-stretch
    </div>
    <div class="grid">
        <div class="col col-center border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col col-center</div>
        </div>
        <div class="col border-white" style="background: #9bcff7">
            <div class="width-200-px height-100-px" style="background: #bddeff">
                col > width-200-px height-100-px
            </div>
        </div>
        <div class="col col-bottom border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col col-bottom</div>
        </div>
        <div class="col col-stretch border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col col-stretch</div>
        </div>
    </div>
    </div>
    
    <div class="rounded margin-bottom bg-white border overflow-hidden">
    <div class="pad-half text-mono bg-gray text-white">
        .col-gutter-none
    </div>
    <div class="grid">
        <div class="col border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col</div>
        </div>
        <div class="col col-gutter-none border-white" style="background: #9bcff7">
            <div class="width-200-px" style="background: #bddeff">
                col col-gutter-none > width-200-px
            </div>
        </div>
        <div class="col border-white" style="background: #9bcff7">
            <div style="background: #bddeff">col</div>
        </div>
    </div>
    </div>
</div>
<div class="section">
    <h3>Breakpoints</h3>
    <p>
        Any helper can have <code>-sm</code>, <code>-md</code>, <code>-lg</code>,
        or <code>-xl</code> added to cause helper to only go into effect for that
        breakpoint.
    </p>
    <div class="text-mono">
        <p><code>-sm</code> = 0 - 719px</p>
        <p><code>-md</code> = 720px - 1079px</p>
        <p><code>-lg</code> = 1080px - 1439px</p>
        <p><code>-xl</code> = 1440px +</p>
    </div>
</div>