<div class="section">
    <h1>Helpers</h1>
    <p>
        Helper classes are very basic rules that modify usually apply 1 or 2 attributes to an element.
        They are meant to make UI process fast and easy.
    </p>
    
    <h2>Modifier Hierarchy</h2>
    <code>.attribute[-direction][-size][-scope]</code>
    <% html_block class:"css" do %>
    @media max-width: 719px){
        .pad-top-2x-sm{
            padding-top: 2em;
        }
    }
    <% end %>
    
    <h3>Attributes</h3>
    <p>
        These attributes follow the same structure for the given attribute
    </p>
    <table class="uniformTable top tight">
        <tr>
            <th><code>pad</code></th>
            <td><code>padding</code></td>
        </tr>
        <tr>
            <th><code>margin</code></th>
            <td><code>margin</code></td>
        </tr>
        <tr>
            <th><code>text</code></th>
            <td><code>font-size</code></td>
        </tr>
    </table>
    
    
    
    <h3>Direction</h3>
    <table class="uniformTable top tight">
        <tr>
            <th><code>-left</code></th>
            <td>left</td>
        </tr>
        <tr>
            <th><code>-right</code></th>
            <td>right</td>
        </tr>
        <tr>
            <th><code>-top</code></th>
            <td>top</td>
        </tr>
        <tr>
            <th><code>-bottom</code></th>
            <td>bottom</td>
        </tr>
        <tr>
            <th><code>-h</code></th>
            <td>left and right</td>
        </tr>
        <tr>
            <th><code>-v</code></th>
            <td>top and bottom</td>
        </tr>
    </table>
    
    <h3>Size</h3>
    <table class="uniformTable top tight">
        <tr>
            <th><code>-quarter</code></th>
            <td>0.25em</td>
        </tr>
        <tr>
            <th><code>-half</code>   </th>
            <td>0.5em</td>
        </tr>
        <tr>
            <th><code>-smaller</code></th>
            <td>0.8em</td>
        </tr>
        <tr>
            <th><code>-small</code>  </th>
            <td>0.9em</td>
        </tr>
        <tr>
            <th><code>-base</code>   </th>
            <td>1em</td>
        </tr>
        <tr>
            <th><code>-large</code>  </th>
            <td>1.2em</td>
        </tr>
        <tr>
            <th><code>-larger</code> </th>
            <td>1.4em</td>
        </tr>
        <tr>
            <th><code>-2x</code> </th>
            <td>2em</td>
        </tr>
        <tr>
            <th><code>-4x</code>   </th>
            <td>4em</td>
        </tr>
        <tr>
            <th><code>-8x</code>   </th>
            <td>8em</td>
        </tr>
    </table>
    
    <h3>Scopes</h3>
    <table class="uniformTable top tight">
        <tr>
            <th><code>-sm</code></th>
            <td> < 720px</td>
        </tr>
        <tr>
            <th><code>-md</code></th>
            <td> 720px - 1080px</td>
        </tr>
        <tr>
            <th><code>-lg</code></th>
            <td> 1080px - 1440px</td>
        </tr>
        <tr>
            <th><code>-xl</code></th>
            <td> 1440px +</td>
        </tr>
    </table>
    
    <h3>Colors</h3>
    <table class="uniformTable top">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <% [
            ['.text-green', 'color: $green'],
            ['.bg-green', 'background-color: $green'],
            ['.a-green', 'a{ color: $green}'],
            ['.a-hover-green', 'a:hover{ color: $green}'],
            ['.border-green', 'border-color: $green'],
        ].each do |klass| %>
        <tr class="middle">
            <td>
                <code><%= klass[0] %></code>
            </td>
            <td>
                <% html_block class: "margin-none css" do %>
                    <%= klass[1] %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
    
    <h3>Sizes</h3>
    <table class="uniformTable top">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <% [
            ['.width-50-p', 'width: 50%'],
            ['.width-50-px', 'width: 50px'],
            ['.width-50-vw', 'width: 50vw'],
            ['.max-width-50-p', 'max-width: 50%'],
            ['.max-width-50-px', 'max-width: 50px'],
            ['.height-50-p', 'height: 50%'],
            ['.height-50-px', 'height: 50px'],
            ['.height-50-vh', 'height: 50vh'],
            ['.max-height-50-px', 'max-height: 50px'],
            ['.min-height-50-vh', 'min-height: 50vh'],
            ['.height-auto', 'height: auto;'],
        ].each do |klass| %>
        <tr class="middle">
            <td>
                <code><%= klass[0] %></code>
            </td>
            <td>
                <% html_block class: "margin-none css" do %>
                    <%= klass[1] %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
    
    <h3>Text</h3>
    <table class="uniformTable top">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <% [
            ['.text-caps', 'text-transform: uppercase'],
            ['.text-1rem', 'font-size: 1rem'],
            ['.text-subtle', 'font-size: 90%; opacity: 0.8'],
            ['.text-subtle-more', 'font-size: 80%; opacity: 0.6'],
            ['.text-muted', 'opacity: 0.8'],
            ['.text-muted-more', 'opacity: 0.6'],
            ['.text-muted-less', 'opacity: 0.85'],
            ['.text-left', 'text-align: left !important'],
            ['.text-right', 'text-align: right'],
            ['.text-center', 'text-align: center'],
            ['.text-justify', 'text-align: justify'],
            ['.text-overflow', '@include text-overflow'],
            ['.text-italic', 'font-style: italic'],
            ['.text-bold', 'font-weight: 700'],
            ['.text-light', 'font-weight: 300'],
            ['.text-lightest', 'font-weight: 100'],
            ['.text-normal', 'font-weight: normal !important'],
            ['.text-middle', 'vertical-align:middle'],
            ['.text-top', 'vertical-align:top'],
            ['.text-tight', 'line-height:1.3'],
            ['p.large', 'font-size:1.5em; font-weight:300'],
            ['.text-nowrap', 'white-space: nowrap; overflow:hidden'],
            ['.text-no-decoration', 'text-decoration: none; a{text-decoration: none;}'],
            ['.text-height-1', 'line-height: 1'],
            ['.text-warn', '&:hover{color:$red !important;}'],
            ['.text-col-2', 'column-count: 2; column-gap: 5em;']
        ].each do |klass| %>
        <tr class="middle">
            <td>
                <code><%= klass[0] %></code>
            </td>
            <td>
                <% html_block class: "margin-none css" do %>
                    <%= klass[1] %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
    
    <h3>Layout</h3>
    <table class="uniformTable top">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <% [
            ['.hide', 'display:none !important;'],
            ['.show', 'display:inherit !important;'],
            ['.round', 'border-radius:50%;'],
            ['.rounded', 'border-radius: 0.25em;'],
            ['.cursor-pointer', 'cursor: pointer !important;'],
            ['.cursor-help', 'cursor: help;'],
            ['.cursor-handle', 'cursor: hand;'],
            ['.honeypot', "position:absolute !important;\nleft:-999999px !important;\nwidth:1px !important;\ndisplay:block !important;"],
            ['.float-right', 'float:right;'],
            ['.float-left', 'float: left;'],
            ['.bleed-fix', 'position:static; overflow:hidden;'],
            ['.clear', 'clear:both;'],
            ['.block ', 'display: block;'],
            ['.inline-block ', 'display:inline-block !important;'],
            ['.overflow-hidden', 'overflow:hidden;'],
            ['.overflow-y', 'overflow-y: auto;'],
            ['.absolute', 'position:absolute;'],
            ['.relative', 'position:relative;'],
            ['.position-center', "position:absolute;\nleft:50%;\ntop:50%;\ntransform: translate(-50%, -50%);"],
            ['.position-v-center', "position:absolute;\nleft:50%;\ntransform: translateX(-50%, -50%);"],
            ['.position-h-center', "position:absolute;\ntop:50%;\ntransform: translateY(-50%, -50%);"],
        ].each do |klass| %>
        <tr>
            <td>
                <code><%= klass[0] %></code>
            </td>
            <td>
                <% html_block class: "margin-none css" do %>
                    <%= klass[1] %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
    
    <h3>Element Helpers</h3>
    <table class="uniformTable top">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <% [
            ['img.disabled', '@include grayscale(1, 0.3)'],
            ['table.fixed', 'table-layout: fixed;'],
            ['ul.raw', 'margin: 0; padding: 0; list-style:none;'],
            ['button.raw', 'outline: none; appearance: none; border: none; background:none;'],
        ].each do |klass| %>
        <tr>
            <td>
                <code><%= klass[0] %></code>
            </td>
            <td>
                <% html_block class: "margin-none css" do %>
                    <%= klass[1] %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
    
</div>