<div class="section">
    <h1>UniformLabel</h1>
    <div class="margin-v-2x">
        <table class="uniformTable">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th><code>-fill</code></th>
                    <th><code>-round</code></th>
                    <th><code>-round -fill</code></th>
                </tr>
            </thead>
            <% ["", "pad-more", 'text-smaller', 'text-small', 'text-large', 'text-larger'].each do |lbl| %>
            <tr>
                <td>
                    <code>.<%= lbl %></code>
                </td>
                <% if lbl == "pad-more" %>
                    <td>
                        Lorem ipsum
                        <span class="uniformLabel <%= lbl %>">label</span>
                    </td>
                    <td>
                        <span class="uniformLabel <%= lbl %> -fill">label</span>
                    </td>
                    <td>
                        <span class="uniformLabel <%= lbl %> -round">label</span>
                    </td>

                    <td>
                        <span class="uniformLabel <%= lbl %> -fill -round">label</span>
                    </td>
                <% else %>
                    <td class="<%= lbl %>">
                        Lorem ipsum
                        <span class="uniformLabel">label</span>
                    </td>
                    <td class="<%= lbl %>">
                        <span class="uniformLabel -fill">label</span>
                    </td>
                    <td class="<%= lbl %>">
                        <span class="uniformLabel -round">label</span>
                    </td>
                    <td class="<%= lbl %>">
                        <span class="uniformLabel -fill -round">label</span>
                    </td>
                <% end %>
            </tr> 
            <% end %>
        </table>
    </div>
    
    <div class="margin-v-2x">
        <h3>Colors</h3>
        <table class="uniformTable">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th><code>-fill</code></th>
                </tr>
            </thead>
            <% colors.each do |color, value| %>
            <tr>
                <td>
                    <code>.-<%= color %></code>
                </td>
                <td>
                    <span class="uniformLabel -<%= color %>">label</span>
                </td>
                <td>
                    <span class="uniformLabel -<%= color %> -fill">label</span>
                </td>
            </tr> 
            <% end %>
        </table>
    </div>
</div>