<div class="section">
    <h1>Nav</h1>
    
    <div class="margin-v-2x">
        <h3>uniformNav</h3>
        <div class="grid grid-nest">
            <div class="col-6">
                <div class="uniformNav margin-h-nest">
                    <a href="#">Home</a>
                    <a href="#" class="active">About</a>
                    <a href="#">Contact</a>
                    <a href="#">Log In</a>
                    <span>
                        Just Text
                    </span>
                </div>
            </div>
            <div class="col-6">
                <% html_block class: "html" do %>
                <div class="uniformNav margin-h-nest">
                    <a href="#">Home</a>
                    <a href="#" class="active">About</a>
                    <a href="#">Contact</a>
                    <a href="#">Log In</a>
                    <span>
                        Just Text
                    </span>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="margin-v-2x">
        <h3>uniformNav -vertical</h3>
        <div class="grid grid-nest">
            <div class="col-6">
                <div class="uniformNav -vertical">
                    <a href="#">Home</a>
                    <a href="#" class="active">About</a>
                    <a href="#">Contact</a>
                    <a href="#">Log In</a>
                    <span>
                        Just Text
                    </span>
                </div>
            </div>
            <div class="col-6">
                <% html_block class: "html" do %>
                <div class="uniformNav -vertical">
                    <a href="#">Home</a>
                    <a href="#" class="active">About</a>
                    <a href="#">Contact</a>
                    <a href="#">Log In</a>
                    <span>
                        Just Text
                    </span>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="margin-v-2x">
        <h3>uniformMainNav</h3>
        <div class="grid grid-nest">
            <div class="col-6">
                <div class="uniformMainNav">
                    <div class="uniformNav">
                        <span class="margin-left-nest">
                            <img src="<%= asset_path("logo.png") %>" height="31" width="137">
                        </span>
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <% html_block class: "html" do %>
                <div class="uniformMainNav">
                    <div class="uniformNav">
                        <span class="margin-left-nest">
                            <img src="/<%= asset_path("logo.png") %>" height="31" width="137">
                        </span>
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="margin-v-2x">
        <h3>uniformMainNav-vertical</h3>
        <div class="grid grid-nest">
            <div class="col-3">
                <div class="uniformMainNav -vertical">
                    <div class="uniformNav">
                        <span class="margin-bottom-half">
                            <img src="<%= asset_path("logo.png") %>" height="31" width="137">
                        </span>
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-3">&nbsp;</div>
            <div class="col-6">
                <% html_block class: "html" do %>
                <div class="uniformMainNav -vertical">
                    <div class="uniformNav">
                        <span class="margin-bottom-half">
                            <img src="<%= asset_path("logo.png") %>" height="31" width="137">
                        </span>
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="margin-v-2x">
        <h3>uniformMainNav-invert</h3>
        <div class="grid">
            <div class="col-6 col-gutter-none bg-gray">
                <div class="uniformMainNav -invert">
                    <div class="uniformNav">
                        <span>
                            <img src="<%= asset_path("logo-inv.png") %>" height="31" width="137">
                        </span>
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <% html_block class: "html" do %>
                <div class="uniformMainNav -invert">
                    <div class="uniformNav">
                        <span>
                            <img src="<%= asset_path("logo-inv.png") %>" height="31" width="137">
                        </span>
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
</div>