<div class="section">
    <h1>Colors</h1>
    <table class="width-full">
    <tr>
        <th></th>
        <% (1..9).each do |i| %>
            <th class="text-center"><%= i*10 %></th>
        <% end %>
    </tr>
    <% css_configs["colors"].keys.filter{|color| !color.index("-")}.each do |color| %>
        <% next unless css_configs["colors"].keys.include?("#{color}-10") %>
        <tr class="text-white">
            <td class="width-1/10 bg-<%= color %> pad">
                <%= color %>
            </td>
            <% (1..9).each do |i| %>
                <td class="bg-<%= color %>-<%= i*10 %> text-xs pad">
                    <%= color %>-<%= i*10 %>
                </td>
            <% end %>
        </tr>
    <% end %>
    </table>
</div>