<div class="max-height-350-px overflow-y-scroll">
    <table class="uniformTable align-top-*">
        <% css[:parser].each_selector do |selector, declarations| %>
            <% selector = selector.gsub("\\", "").split(" ")[0].split("::")[0] %>
            <% next if css[:printed_selectors].include?(selector) %>
            <% next if defined?(blacklist) && (blacklist.is_a?(Array) ?
                blacklist.any?{|x| selector =~ x} : selector =~ blacklist
            ) %>
            <% next if defined?(whitelist) && !(whitelist.is_a?(Array) ? 
                whitelist.any?{|x| selector =~ x} : selector =~ whitelist
            ) %>
            <% next if selector =~ /\-\*$/ %>
            <% next if selector =~ /\:/ %>
            <% next if selector =~ /\-container/ %>
            <tr>
                <td class="text-mono text-nowrap text-bold text-purple">
                    <%= selector %>
                </td>
                <td class="">
                    <% if defined?(content) %>
                        <% if content.is_a?(Proc) %>
                            <%= content.call(selector.gsub(".", "")) %>
                        <% else %>
                            <%= content.gsub(":selector", selector.gsub(".", "")) %>
                        <% end %>
                    <% else %>
                        <div class="<%= selector.gsub(".", "") %>">
                            Lorem ipsum
                        </div>
                    <% end %>
                </td>
                <td class="text-xs">
                    <% code 'css', css_class: 'tight' do %>
                        { <%= declarations.split(";").join(";\n") %> }
                    <% end %>
                </td>
            </tr>
            <% css[:printed_selectors] << selector %>
        <% end %>
    </table>
</div>