<div class="section">
    <h1>Colors</h1>
    <div class="border rounded bg-white overflow-hidden">
        <table class="uniformTable">
            <thead class="dark">
                <tr>
                    <th></th>
                    <th>sass</th>
                    <th>class</th>
                </tr>
            </thead>
        <% ["-10", "-20", "-30", "", "-60", "-80", "-90"].each do |style| %>
            <tr>
                <td><span class='swatch bg-gray<%= style %>'></span></td>
                <td><code>color('gray<%= style %>')</code></td>
                <td><code>[class]-gray<%= style %></code></td>
            </tr>
        <% end %>

        <tr><td colspan='3'>&nbsp;</td></tr>
        <% %w(green blue red yellow).each do |color| %>
            <% ["-10", "", "-60"].each do |style| %>
                <tr>
                    <td><span class='swatch bg-<%= color %><%= style %>'></span></td>
                    <td><code>color('<%= color %><%= style %>')</code></td>
                    <td><code>[class]-<%= color %><%= style %></code></td>
                </tr>
            <% end %>
            <tr><td colspan='3'>&nbsp;</td></tr>
        <% end %>
        </table>
    </div>
</div>

<div class="section">
    <h1>Custom Colors</h1>
    <p>Define new colors or overwrite the defaults</p>
    <% block = html_block class:"css" do %>
        @import 'uniform/base';
        
        @import 'ext/uniform'; // <-- overrides
        
        @import 'uniform/helpers';
        @import 'uniform/functions';
        @import 'uniform/components';
        @import 'uniform/defaults';
        @import 'uniform/helpers/border';
        @import 'uniform/helpers/text';
        @import 'uniform/helpers/colors';
        @import 'uniform/helpers/sizes';
        @import 'uniform/helpers/margin';
        @import 'uniform/helpers/padding';
        @import 'uniform/helpers/position';
        @import 'uniform/components/label';
        @import 'uniform/components/form';
        @import 'uniform/components/buttons';
        @import 'uniform/components/select';
        @import 'uniform/components/container';
        @import 'uniform/components/card';
        @import 'uniform/components/grid';
        @import 'uniform/components/table';
        @import 'uniform/components/row';
        @import 'uniform/components/tooltip';
        @import 'uniform/components/dropdown';
        @import 'uniform/components/alert';
        @import 'uniform/components/loaders';
        @import 'uniform/components/nav';
        @import 'uniform/components/thumb';
        @import 'uniform/components/modal';
    <% end %>
    <%= block %>
    
    <p>Merge new values into <code>$colors</code>.
    
    <% block = html_block class:"css" do %>
        map-merge($colors, (
            'green': #cecece
        ))
    <% end %>
    <%= block %>
</div>
