<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Uniform</title>
    
    <link rel="stylesheet" href="<%= asset_path("uniform.css") %>" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="<%= asset_path("preview.css") %>" type="text/css" media="screen" charset="utf-8">
    
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Uniform"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/favicons/mstile-310x310.png" />
</head>

<body>
<div class="side-nav">
    <div class="pad-2x">
        <a href="/">
        <img src="<%= asset_path("logo.png") %>" class="block width-100-p">
        </a>
    </div>
    <div class="uniformNav -vertical">
        <% [
            :helpers,
            :colors,
            :grid,
            '',
            :buttons,
            :tables,
            :thumb,
            :cards,
            :rows,
            :form,
            :loaders,
            :nav,
            :labels,
            :alerts,
            [:select, 'js'],
            [:modal, 'js'],
            [:dropdown, 'js'],
            [:tooltip, 'js'],
            [:resizer, 'todo']
        ].each do |page| %>
            <% if page.is_a?(Array)
                tag = page[1]
                page = page[0]
            end %>
            <% if page == "" %>
            <div class="border-top pad-none"></div>
            <% else %>
            <a href="/sections/<%= page %>.html" class="<%= "active" if @current_page == page.to_s %>">
                <%= page.to_s.titleize %>
                <% if tag %>
                    &nbsp;<span class="uniformLabel <%= @current_page == page.to_s ? "-white" : "-yellow-dark" %> text-smaller"><%= tag %></span>
                <% end %>
            </a>
            <% end %>
        <% end %>
    </div>
</div>
<div class="main-content overflow-hidden">
    <%= yield %>
</div>  

<script src="/assets/jquery.js" ></script>
<script src="<%= asset_path('uniform-jquery.js') %>"></script>
<script src="/assets/highlight.pack.js"></script>
<script src="/assets/preview.js" ></script>
</body>