<div class="section">
    <h1>Popover</h1>
    <p>
        Popover is a raw component used by Dropdown and Select.
        It's a piece of content in that is rendered on the page ("pop") on top of other content ("over").
    </p>
    <p>
        <button class="uniformButton js-toggle">Toggle Popovers</button>
        <script>
            var popovers = [];
            $('.js-toggle').click(function(e){
                e.preventDefault();
                popovers.forEach(function(popover){
                    popover.toggle();
                });
            });
        </script>
    </p>
    <div class="grid-md grid-nest">
        <% i = 0 %>
        <% ['left', 'center', 'right'].each do |horizontal| %>
            <% ['top', 'center', 'bottom'].each do |vertical| %>
                <div class="col-6-md margin-bottom-4x">
                    <div class="pad border-dashed width-50-p" id="popover-<%= i %>">
                        Target &nbsp;&nbsp;<code>align: <%= horizontal %> <%= vertical %></code>
                    </div>
                    <script>
                        $(document).ready(function(){
                            setTimeout(function(){
                                var popover = new Uniform.Popover({
                                    align: '<%= horizontal %> <%= vertical %>',
                                    anchor: document.getElementById('popover-<%= i %>'),
                                    content: '<div class="bg-white pad border" id="p-<%= i %>">content...</div>'
                                }).render()
                                popovers.push(popover);
                            }, 200)
                        })
                    </script>
                </div>
                <div class="col-6-md margin-bottom-4x">
                    <% block = html_block do %>
                        <div class="pad border-dashed" id="popover-<%= i %>">
                            Target
                        </div>
                    <% end %>
                    <%= block %>
            
                    <% block = html_block class: 'javascript' do %>
                    new Uniform.Popover({
                        align: '<%= horizontal %> <%= vertical %>',
                        anchor: document.getElementById('popover-<%= i %>'),
                        content: '<div class="bg-white pad border">content...</div>'
                    }).render();
                    <% end %>
                    <%= block %>
                </div>
                <% i += 1 %>
            <% end %>
        <% end %>
        <div class="col-6-md margin-bottom-4x">
            <% block = html_block do %>
                <div class="pad border-dashed" id="popover-asd">
                    Target
                </div>
            <% end %>
            <%= block %>
    
            <% block = html_block class: 'javascript' do %>
            new Uniform.Popover({
                align: 'right bottom',
                anchor: document.getElementById('popover-asd'),
                content: '<div class="bg-white pad border">content...</div>'
            }).render();
            <% end %>
            <%= block %>
        </div>
        <div class="col-6-md margin-bottom-4x">
            <div class="pad border-dashed margin-left-4x" id="popover-asd">
                Target Goes too far right <code>align: right bottom</code>
            </div>
            <script>
                $(document).ready(function(){
                    setTimeout(function(){
                        var popover = new Uniform.Popover({
                            align: 'right bottom',
                            anchor: document.getElementById('popover-asd'),
                            content: '<div class="bg-white pad border" id="p-asd">content...</div>'
                        }).render()
                        popovers.push(popover);
                    }, 200)
                })
            </script>
        </div>
    </div>
</div>