<div class="section">
    <h1>UniformRow</h1>
    <div class="grid-md margin-v grid-nowrap grid-nest">
        <div class="">
            <p>
                UniformRow is great for building a list of selectable records, that can responsively adjust to tile layout.
            </p>
        </div>
        <div class="">
            <% block = html_block class: "html" do %>
            <a class="uniformRow" href="#rows">
                <span class="relative width-90-px width-100-p-sm aspect-2x1-sm">
                    <span class="uniformThumb position-fill">
                        <img src="https://unsplash.it/400/300/?random">
                    </span>
                </span>
                <span>
                    <span class="text-bold">
                        John Doe
                    </span>
                    <span class="text-muted block">
                        ABC Designs
                    </span>
                </span>
                <span>
                        Garland, TX
                </span>
                <span>
                        Texas Ranger Fan
                </span>
            </a>
            <% end %>
            <%= block %>
        </div>
    </div>
    <div class="margin-v">
        <h2>size-md+</h2>
        <% rows = [
            {
                title: "John Doe",
                subtitle: "Fan",
                location: "Garland, TX",
                team: "Texas Rangers",
                logo: "http://mlb.mlb.com/documents/3/0/0/111209300/T_Red_3kf3eqmg.svg"
            },{
                title: "David Pumpkins",
                subtitle: "Lead Cheerer",
                location: "Paris, TX",
                team: "Minnesota Twins",
                logo: "http://mlb.mlb.com/documents/9/8/4/111241984/MIN_header_logo_jafcibrj.svg"
            },{
                title: "Rod Kimble",
                subtitle: "Manager",
                location: "Anchorage, AK",
                team: "Evil Empire",
                logo: "http://mlb.mlb.com/documents/5/7/0/111220570/NYY_header_logo_jnivpoth.svg"
            }
        ] %>
        <% html = capture_html do %>
            <div class="uniformRowContainer">
                <% rows.each do |row| %>
                    <a class="uniformRow text-gray-80 -middle" href="#rows">
                        <span class="relative width-90-px width-100-p-sm aspect-2x1-sm">
                            <span class="uniformThumb position-fill">
                                <img src="<%= row[:logo] %>">
                            </span>
                        </span>
                        <span class="pad-h pad-v-half pad-v-none-sm margin-v-sm">
                            <span class="text-bold"><%= row[:title] %></span>
                            <span class="text-muted block"><%= row[:subtitle] %></span>
                        </span>
                        <span class="pad-h pad-v-half pad-v-none-sm margin-v-sm">
                            <%= row[:location] %>
                        </span>
                        <span class="pad-h pad-v-half pad-v-none-sm margin-v-sm">
                            <%= row[:team] %>
                        </span>
                    </a>
                <% end %>
            </div>
        <% end %>
        <%= html %>
    </div>
    
    <div class="margin-v width-300-px sm-size">
        <h2>size-sm</h2>
        <%= html %>
    </div>
</div>
<div class="section">
    <h3>Options</h3>
    <div class="text-mono">
        <div class="margin-v">
            .uniformRow.-middle
            <div class="text-muted text-xs">
                cells are middle aligned
            </div>
        </div>
    </div>
</div>