<div class="section">
    <h1>UniformSelect</h1>
    <p>
        Turn any select box into a more advanced full featured dropdown UI element,
        while maintaining the html simplicity of a basic select element.
    </p>
    <h3>Initialize</h3>
    <% block = html_block do %>
        $(document).ready(function(){
            $('.uniformSelect').uniformSelect(options);
        })
    <% end %>
    <%= block %>
    <div class="grid-md grid-nest margin-top-2x">
        <div class="col-6-md margin-bottom">
            <select>
                <option>An Option</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
            <p class="margin">Becomes</p>
            <select class="uniformSelect">
                <option>An Option</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
        </div>
        <div class="col-6-md">
            <% block = html_block class:"html" do %>
                <select class='uniformSelect'>
                    <option>An Option</option>
                </select>
            <% end %>
            <%= block %>
        </div>
        <div class="col-6-md">
            <code>multiple</code>
            <select class="uniformSelect" multiple>
                <option>An Option</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
        </div>
        <div class="col-6-md">
            <% block = html_block class:"html" do %>
                <select class="uniformSelect" multiple>
                    <option>An Option</option>
                </select>
            <% end %>
            <%= block %>
        </div>
        <div class="col-6-md">
            <p>Limits dropdown to 8 options (optional)</p>
            <select class="uniformSelect">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
                <option>Option 6</option>
                <option>Option 7</option>
                <option>Option 8</option>
                <option>Option 9</option>
                <option>Option 10</option>
                <option>Option 11</option>
                <option>Option 12</option>
                <option>Option 13</option>
                <option>Option 14</option>
                <option>Option 15</option>
                <option>Option 16</option>
                <option>Option 17</option>
                <option>Option 18</option>
                <option>Option 19</option>
            </select>
        </div>
        <div class="col-6-md">
            <% block = html_block class:"html" do %>
                <select class="uniformSelect">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    ...
                    <option>Option 19</option>
                </select>
            <% end %>
            <%= block %>
        </div>
        <div class="col-6-md">
            <p>Select example in variable width container</p>
            <div class="grid grid-nest grid-nowrap">
                <div class="col">
                    <select class="uniformSelect">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option Option Option Option Option Option Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                        <option>Option 10</option>
                        <option>Option 11</option>
                        <option>Option 12</option>
                        <option>Option 13</option>
                        <option>Option 14</option>
                        <option>Option 15</option>
                        <option>Option 16</option>
                        <option>Option 17</option>
                        <option>Option 18</option>
                        <option>Option 19</option>
                    </select>
                </div>
                <div class="col">
                    <input class="uniformInput" placeholder="Test Input">
                </div>
            </div>
        </div>
    </div>
    
    <div class="margin-v">
        <button class="modal-example uniformButton">
            Launch Modal with Select
        </button>
    </div>
    <script>
        $('.modal-example').on('click', function () {
            var modal = new Uniform.Modal({
                content: "<div class='pad'><select><option>1</option><option>2</option><option>3</option></select></div>"
            }).render();
            
            var select = new Uniform.Select({
                el: $(modal.el).find('select')[0],
                container: modal.el
            }).render();
        })
    </script>
    
    <h3>Responsive</h3>
    <p>On mobile dropdown of options becomes full screen modal of options.</p>
    <img src="<%= asset_path("select-view-mobile.png") %>" class="inline-block max-width-200-px border">
    <img src="<%= asset_path("select-view-mobile-selected.png") %>" class="inline-block max-width-200-px border">
    
    <h3>Options</h3>
    <% block = html_block do %>
        $(document).ready(function(){
            $('.uniformSelect').uniformSelect({
                limit: 8,
                class: 'uniformButton green',
                showAll: function(select_options){...}
            });
        })
    <% end %>
    <%= block %>
    <div class="bg-white rounded overflow-hidden border">
        <table class="uniformTable">
            <tr>
                <th>Option</th>
                <th>Accepts</th>
                <th>Description</th>
                <th>Default</th>
            </tr>
            <tr>
                <td>
                    showAll
                </td>
                <td>
                    <code>function(select_options)</code>
                </td>
                <td>
                    Function run called when "Show All is clicked"
                </td>
                <td>
                    Removes "Show All" and reveals all hidden options
                </td>
            </tr>
            <tr>
                <td>
                    limit
                </td>
                <td>
                    <code>int</code>, <code>false</code>
                </td>
                <td>
                    Limit number of visilbe options. Set to false to not limit.
                </td>
                <td>
                    8
                </td>
            </tr>
            <tr>
                <td>
                    class
                </td>
                <td>
                    <code>string</code>
                </td>
                <td>
                    Classes to append to uniformSelect-edit (main button)
                </td>
                <td>
                    <code>''</code>
                </td>
            </tr>
        </table>
    </div>
</div>