<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Uniform</title>
    
    <%= stylesheet_link_tag "main" %>
    
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static-assets/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static-assets/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static-assets/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static-assets/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static-assets/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static-assets/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static-assets/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static-assets/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Uniform"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/static-assets/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/static-assets/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/static-assets/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/static-assets/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/static-assets/favicons/mstile-310x310.png" />
</head>

<body>
<div class="side-nav">
    <div class="pad-2x">
        <a href="/">
            <%= image_tag 'logo.png', class: 'block width-100-p' %>
        </a>
    </div>
    <div class="uniformNav -vertical">
        <% [
            [:introduction, false, '/'],
            '',
            :helpers,
            :colors,
            :grid,
            '',
            :button,
            :table,
            :thumb,
            :card,
            :row,
            :form,
            :loader,
            :nav,
            :label,
            :alert,
            [:select, 'js'],
            [:modal, 'js'],
            [:dropdown, 'js'],
            [:tooltip, 'js'],
            [:resizer, 'js']
        ].each do |page| %>
            <% if page.is_a?(Array)
                tag = page[1]
                url = page[2]
                page = page[0]
            end %>
            <% url ||= "/sections/#{page}" %>
            <% if page == "" %>
            <div class="border-top pad-none"></div>
            <% else %>
            <a href="<%= url %>" class="<%= "active" if @current_page == page.to_s %>">
                <%= page.to_s.titleize %>
                <% if tag %>
                    &nbsp;<span class="uniformLabel <%= @current_page == page.to_s ? "-white" : "-yellow-dark" %> text-smaller"><%= tag %></span>
                <% end %>
            </a>
            <% end %>
        <% end %>
    </div>
</div>
<div class="main-content overflow-hidden">
    <%= yield %>
</div>  

<script type="text/javascript" src="/static-assets/jquery.js"></script>
<%= javascript_include_tag "uniform.jquery" %>
<%= javascript_include_tag "highlight.pack" %>
<%= javascript_include_tag "main" %>
</body>