<% current_path = "/#{current_page.path.gsub('.html', '')}" %>
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1,user-scalable=0">
    <title>Uniform</title>
    
    <%= stylesheet_link_tag "main" %>
    
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static-assets/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static-assets/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static-assets/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static-assets/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static-assets/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static-assets/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static-assets/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static-assets/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/static-assets/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Uniform"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/static-assets/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/static-assets/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/static-assets/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/static-assets/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/static-assets/favicons/mstile-310x310.png" />
    <script type="text/javascript" src="/static-assets/jquery.js"></script>
</head>

<body>
<div class="side-nav">
    <div class="pad-2x">
        <a href="/">
            <%= image_tag 'logo.png', class: 'block width-full' %>
        </a>
    </div>
    <div class="uniformNav -vertical">
        <% {
            introduction: {
                url: '/'
            },
            utilities: {
                children: {
                    scopes: {},
                    colors: {},
                    text: {},
                    borders: {},
                    spacing: {},
                    background: {},
                    sizing: {},
                    position: {},
                    flex: {},
                    grid: {},
                    effects: {}
                }
            },
            components: {
                url: false,
                children: {
                    button: {
                        title: 'uniformButton'
                    },
                    table: {
                        title: 'uniformTable'
                    },
                    thumb: {
                        title: 'uniformThumb'
                    },
                    form: {},
                    loader: {},
                    nav: {},
                    label: {},
                    alert: {},
                    popover: { tag: 'js' },
                    select: { tag: 'js' },
                    modal: { tag: 'js' },
                    dropdown: { tag: 'js' },
                    tooltip: { tag: 'js' },
                    resizer: { tag: 'js'}
                }
            }
        }.each do |nav_item, options| %>
            <% path = options[:url].nil? ? "/#{nav_item}" : options[:url] %>
            <% if path %>
            <a href="<%= path %>" class="<%= "active" if current_path == path %> text-bold">
                <%= options[:title] || nav_item.to_s.titleize %>
                <% if options[:tag] %>
                    &nbsp;<span class="uniformLabel <%= current_path== path ? "-green-60" : "-yellow-60" %> text-xs">
                        <%= options[:tag] %>
                    </span>
                <% end %>
            </a>
            <% else %>
              <span class="text-bold">
                  <%= options[:title] || nav_item.to_s.titleize %>
              </span>
            <% end %>
            <% if options[:children] %>
            <div class="uniformNav -vertical pad-left text margin-v-nest-1/2x">
                <% parent_path = options[:url] || "/#{nav_item}" %>
                <% options[:children].each do |nav_item, options| %>
                    <% path = parent_path + (options[:url] || "/#{nav_item}") %>
                    <a href="<%= path %>" class="<%= "active" if current_path == path %>">
                        <%= options[:title] || nav_item.to_s.titleize %>
                        <% if options[:tag] %>
                            &nbsp;<span class="uniformLabel <%= current_path == path ? "-green-60" : "-yellow-60" %> text-xs">
                                <%= options[:tag] %>
                            </span>
                        <% end %>
                    </a>
                <% end %>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
<div class="main-content overflow-hidden">
    <%= yield %>
</div>  

<%= javascript_include_tag "uniform.jquery" %>
<%= javascript_include_tag "highlight.pack" %>
<%= javascript_include_tag "main" %>
</body>