<div class="section">
    <h1>Buttons</h1>
    <p>Mix and match styles to make the right button, all colors are available as well.</p>
    <p><code><%= CGI::escapeHTML "<a href='#' class='uniformButton'></a>" %></code></p>
    <table class="uniformTable" cellspacing="0" cellpadding="0">
        <tr>
            <th></th>
            <th>Normal</th>
            <th><code>.green</code></th>
            <th><code>.blue</code></th>
            <th><code>.red</code></th>
            <th><code>.gray-dark</code></th>
            <th><code>.white</code></th>
            <th><code>.gray</code></th>
        </tr>
        <tr>
            <th></th>
            <td><a class="uniformButton">Button</a></td>
            <td><a class="uniformButton green">Button</a></td>
            <td><a class="uniformButton blue">Button</a></td>
            <td><a class="uniformButton red">Button</a></td>
            <td><a class="uniformButton white">Button</a></td>
            <td><a class="uniformButton gray">Button</a></td>
        </tr>
        <% [
            ['hover, :hover', 'hover'],
            ['active, :active', 'active'],
            ['disabled, :disabled', 'disabled'],
            'small',
            'large',
            'warn',
            'block',
            'outline',
        ].each do |klass| %>
            <% klass = [klass, klass] if !klass.is_a?(Array) %>
            <tr>
                <th><code>.<%= klass[0] %></code></th>
                <td><a class="uniformButton <%= klass[1] %>">Button</a></td>
                <td><a class="uniformButton green <%= klass[1] %>">Button</a></td>
                <td><a class="uniformButton blue <%= klass[1] %>">Button</a></td>
                <td><a class="uniformButton red <%= klass[1] %>">Button</a></td>
                <td><a class="uniformButton white <%= klass[1] %>">Button</a></td>
                <td><a class="uniformButton gray <%= klass[1] %>">Button</a></td>
            </tr>
        <% end %>
        <tr>
            <th><code>.outline</code></th>
            <td class="bg-gray"><a class="uniformButton outline">Button</a></td>
            <td class="bg-gray"><a class="uniformButton green outline">Button</a></td>
            <td class="bg-gray"><a class="uniformButton blue outline">Button</a></td>
            <td class="bg-gray"><a class="uniformButton red outline">Button</a></td>
            <td class="bg-gray"><a class="uniformButton gray-dark outline">Button</a></td>
            <td class="bg-gray"><a class="uniformButton white outline">Button</a></td>
            <td class="bg-gray"><a class="uniformButton gray outline">Button</a></td>
        </tr>
    </table>
    
    <h3 class="margin-top-more">uniformButtonGroup</h3>
    <div class="uniformButtonGroup">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>