<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Uniform</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="site/preview.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="site/uniform.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<% sections = [
    :uniform,
    :installation,
    :philosophy,
    :colors,
    :buttons,
    :grid,
    :inputs,
    :forms,
    :loaders,
    :cards,
    :tiles,
    :rows,
    :lists,
    :tables,
    :nav,
    :tabs,
    :helpers
] %>
<div class="side-nav">
    <div style="padding: 20px; padding-right: 30px">
        <img src="site/logo.png" style="width: 100%; height: auto;">
    </div>
    <div class="uniform-nav vertical">
        <ul>
        <% sections.each do |section| %>
            <li><a href="#<%= section %>"><%= section.to_s.titleize %></a></li>
        <% end %>
        </ul>
    </div>
</div>
<div class="main-content">
    <% sections.each do |section| %>
        <a name="<%= section %>"></a>
        <div class="section">
            <% if section != :uniform %>
            <h1><%= section.to_s.titleize %></h1>
            <% end %>
            <%= ERB.new(File.read("preview/_#{section}.html.erb")).result %>
        </div>
    <% end %>
</div>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>