<div class="section">
    <h1>Forms</h1>
</div>
<div class="section">
    <div class="margin-v-2x">
        <h3>uniformInput</h3>
        <div class="grid grid-nest">
            <div class="col-6">
                <p><input type="text" class="uniformInput" /></p>
                <p><input type="text" class="uniformInput text-lg" /></p>
            </div>
            <div class="col-6">
                <% block = html_block class: "html" do %>
                    <input type="text" class="uniformInput" />
                <% end %>
                <%= block %>
                <% block = html_block class: "html" do %>
                    <input type="text" class="uniformInput text-lg" />
                <% end %>
                <%= block %>
            </div>
        </div>
    </div>
    <div class="margin-v-2x">
        <h3>uniformForm</h3>
        <div class="grid grid-nest">
            <div class="col-6">
                <form class="uniformForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text">
                    </div>
                    <div class="form-group" data-uniform-error="example error message">
                        <label>Phone</label>
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text">
                    </div>
                </form>
            </div>
            <div class="col-6">
                <% block = html_block do %>
                <form class="uniformForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text">
                    </div>
                    <div class="form-group" data-uniform-error="example error message">
                        <label>Phone</label>
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text">
                    </div>
                </form>
                <% end %>
                <%= block %>
            </div>
        </div>
    </div>
    
    <div class="margin-v-2x">
        <h3>uniformForm -table</h3>
        <div class="grid grid-nest">
            <div class="col-6">
                <form class="uniformForm -table">
                    <div class="form-group">
                        <label>Name</label>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <div>
                            <div data-uniform-error="example error message">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <% block = html_block do %>
                    <form class="uniformForm -table">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text">
                        </div>
                        <div class="form-group" data-uniform-error="example error message">
                            <label>Phone</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text">
                        </div>
                    </form>
                <% end %>
                <%= block %>
            </div>
        </div>
    </div>
    
    
    <div class="margin-v-2x">
        <h3>uniformFloatingLabel <span class="uniformLabel text-xs -yellow-60 text-normal">js required</span></h3>
        <p>Requires Javascript to fully work, but fails gracefully when not applied.</p>
        <div class="grid grid-nest">
            <div class="col-6">
                <div class="uniformFloatingLabel">
                    <label for="example-1">Name</label>
                    <input type="text" class="pad-2x" id="example-1">
                </div>
            </div>
            <div class="col-6">
                <% block = html_block class:"html" do %>
                <div class="uniformFloatingLabel">
                    <label for="example-1">Name</label>
                    <input type="text" class="pad-2x" id="example-1">
                </div>
                <% end %>
                <%= block %>
                <% block = html_block class:"javascript" do %>
                    $('.uniformFloatingLabel').uniformFloatingLabel()
                <% end %>
                <%= block %>
            </div>
        </div>
    </div>
    
    
    <div class="margin-v-2x">
        <h3>uniformInputGroup</h3>
        <p>Ever want to put in an input and it's label in line, and have it be 100% width responsive? Well, you can't, unless you use something like uniformInputGroup.</p>
        <p>Requires js to make focus effect work.</p>
        <div class="grid grid-nest">
            <div class="col-6">
                <div class="uniformInputGroup">
                    <span class="label">
                        <label for="rate">$</label>
                    </span>
                    <span class="input">
                        <input id="rate">
                    </span>
                    <span class="units">
                        <label for="rate">/hour</label>
                    </span>
                </div>
            </div>
            <div class="col-6">
                <% block = html_block class:"html" do %>
                <div class="uniformInputGroup">
                    <span class="label">
                        <label for="rate">$</label>
                    </span>
                    <span class="input">
                        <input id="rate">
                    </span>
                    <span class="units">
                        <label for="rate">/hour</label>
                    </span>
                </div>
                <% end %>
                <%= block %>
                <% block = html_block class:"javascript" do %>
                $('.uniformInputGroup').on('focus', 'input', function (e) {
                    $(this).closest('.uniformInputGroup').addClass('focus');
                })
                $('.uniformInputGroup').on('blur', 'input', function (e) {
                    $(this).closest('.uniformInputGroup').removeClass('focus');
                })
                <% end %>
                <%= block %>
            </div>
        </div>
    </div>
</div>