<div class="section">
    <h1>uniformLabel</h1>
    
    <table class="uniformTable align-top-*">
        <%= partial :css_rule_row, locals: {
            selector: 'uniformLabel',
            content: <<-HTML
            <span class="uniformLabel">
                Label
            </span>
            HTML
        } %>
        <% ["-outline", "-round"].each do |state| %>
            <%= partial :css_rule_row, locals: {
                selector: 'uniformLabel.' + state,
                content: <<-HTML
                <span class="uniformLabel #{state}">
                    Label
                </span>
                HTML
            } %>
        <% end %>
    </table>
</div>
<div class="section">
    <h1>Size</h1>

    <table class="uniformTable align-top-*">
        <%= partial :css_rule_row, locals: {
            selector: 'uniformLabel',
            content: <<-HTML
            <span class="uniformLabel">
                Label
            </span>
            HTML
        } %>
        <%= partial :css_rule_row, locals: {
            selector: 'uniformLabel.-lg',
            content: <<-HTML
            <span class="uniformLabel -lg">
                Label
            </span>
            HTML
        } %>
    </table>
</div>

<div class="section">
    <h1>Color</h1>

    <div class="max-height-350-px overflow-y-scroll">
        <table class="uniformTable align-top-*">
            <% %w(gray green red blue yellow purple).each do |color| %>
                <%= partial :css_rule_row, locals: {
                    selector: "uniformLabel.-#{color}",
                    content: <<-HTML
                    <div class="flex justify-content-between space-h-1/2x">
                        <span class="uniformLabel -#{color}-#{i*10}">
                            Label
                        </span>
                        <span class="uniformLabel -#{color}-#{i*10} -round">
                            Label
                        </span>
                        <span class="uniformLabel -#{color}-#{i*10} -outline">
                            Label
                        </span>
                    </div>
                    HTML
                } %>
                <% (1..9).each do |i| %>
                    <%= partial :css_rule_row, locals: {
                        selector: "uniformLabel.-#{color}-#{i*10}",
                        content: <<-HTML
                        <div class="flex justify-content-between space-h-1/2x">
                            <span class="uniformLabel -#{color}-#{i*10}">
                                Label
                            </span>
                            <span class="uniformLabel -#{color}-#{i*10} -round">
                                Label
                            </span>
                            <span class="uniformLabel -#{color}-#{i*10} -outline">
                                Label
                            </span>
                        </div>
                        HTML
                    } %>
                <% end %>
            <% end %>
        </table>
    </div>
</div>