<div class="section">
    <h1>uniformLoader</h1>
    
    <% html = capture_html do %>
    <div class="uniformLoader"></div>
    <% end %>
    <h3><code>.uniformLoader</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
            <%= html %>
            <% end %>
        </div>
    </div>
    
    <% html = capture_html do %>
    <div class="width-100-p height-50-px bg-green bg-opacity-20 relative">
        <div class="uniformLoader -cover"></div>
    </div>
    <% end %>
    <h3><code>.uniformLoader.-cover</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
            <%= html %>
            <% end %>
        </div>
    </div>
    
    <% html = capture_html do %>
    <div class="uniformLoader text-red"></div>
    <% end %>
    <h3><code>.uniformLoader.text-red</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
            <%= html %>
            <% end %>
        </div>
    </div>
</div>