<div class="section">
    <h1>uniformNav</h1>
    <table class="uniformTable">
        <tr>
            <td><code>-vertical</code></td>
            <td>vertical orientation</td>
        </tr>
        <tr>
            <td><code>-pills</code></td>
            <td>renders items in pill form</td>
        </tr>
        <tr>
            <td><code>-[color]</code></td>
            <td>color of links and backgrounds/borders</td>
        </tr>
        <tr>
            <td><code>-active-[color]</code></td>
            <td>color of active link</td>
        </tr>
    </table>
</div>

<div class="section">
    <h1>Style</h1>
    <% html = capture_html do %>
    <div class="uniformNav">
        <a href="#">Home</a>
        <a href="#" class="active">About</a>
        <a href="#">Contact</a>
        <a href="#">Log In</a>
        <span>
            Just Text
        </span>
    </div>
    <% end %>
    
    <h3><code>.uniformNav</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= html %>
            <% end %>
        </div>
    </div>
    
    <% html = capture_html do %>
    <div class="uniformNav -vertical">
        <a href="#">Home</a>
        <a href="#" class="active">About</a>
        <a href="#">Contact</a>
        <a href="#">Log In</a>
        <span>
            Just Text
        </span>
    </div>
    <% end %>
    
    <h3><code>.uniformNav.-vertical</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= html %>
            <% end %>
        </div>
    </div>
    
    <% html = capture_html do %>
    <div class="uniformNav -pills">
        <a href="#">Home</a>
        <a href="#" class="active">About</a>
        <a href="#">Contact</a>
        <a href="#">Log In</a>
        <span>
            Just Text
        </span>
    </div>
    
    <div class="uniformNav -pills -vertical margin-top-2x">
        <a href="#">Home</a>
        <a href="#" class="active">About</a>
        <a href="#">Contact</a>
        <a href="#">Log In</a>
        <span>
            Just Text
        </span>
    </div>
    <% end %>
    
    <h3><code>.uniformNav.-pills</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= html %>
            <% end %>
        </div>
    </div>
</div>

<div class="section">
    <h1>Color</h1>
    <h3><code>.uniformNav.-color</code></h3>
    <div class="max-height-350-px overflow-y-scroll">
        <table class="uniformTable align-top-*">
            <% %w(gray green red blue yellow purple).each do |color| %>
                <%= partial :css_rule_row, locals: {
                    selector: "uniformNav.-#{color}",
                    content: <<-HTML
                    <div class="uniformNav -#{color} -nowrap">
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                        <a href="#">Log In</a>
                        <span>
                            Just Text
                        </span>
                    </div>
    
                    <div class="uniformNav -pills -#{color} margin-top-2x -nowrap">
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                        <a href="#">Log In</a>
                        <span>
                            Just Text
                        </span>
                    </div>
                    HTML
                } %>
                <% (1..9).each do |i| %>
                    <%= partial :css_rule_row, locals: {
                        selector: "uniformNav.-#{color}-#{i*10}",
                        content: <<-HTML
                        <div class="uniformNav -#{color}-#{i*10} -nowrap">
                            <a href="#">Home</a>
                            <a href="#" class="active">About</a>
                            <a href="#">Contact</a>
                            <a href="#">Log In</a>
                            <span>
                                Just Text
                            </span>
                        </div>
    
                        <div class="uniformNav -pills -#{color}-#{i*10} margin-top-2x -nowrap">
                            <a href="#">Home</a>
                            <a href="#" class="active">About</a>
                            <a href="#">Contact</a>
                            <a href="#">Log In</a>
                            <span>
                                Just Text
                            </span>
                        </div>
                        HTML
                    } %>
                <% end %>
            <% end %>
        </table>
    </div>
    <h3><code>.uniformNav.-active-color</code></h3>
    <div class="max-height-350-px overflow-y-scroll">
        <table class="uniformTable align-top-*">
            <% %w(gray green red blue yellow purple).each do |color| %>
                <%= partial :css_rule_row, locals: {
                    selector: "uniformNav.-active-#{color}",
                    content: <<-HTML
                    <div class="uniformNav -active-#{color} -nowrap">
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                        <a href="#">Log In</a>
                        <span>
                            Just Text
                        </span>
                    </div>
    
                    <div class="uniformNav -pills -active-#{color} margin-top-2x -nowrap">
                        <a href="#">Home</a>
                        <a href="#" class="active">About</a>
                        <a href="#">Contact</a>
                        <a href="#">Log In</a>
                        <span>
                            Just Text
                        </span>
                    </div>
                    HTML
                } %>
                <% (1..9).each do |i| %>
                    <%= partial :css_rule_row, locals: {
                        selector: "uniformNav.-active-#{color}-#{i*10}",
                        content: <<-HTML
                        <div class="uniformNav -active-#{color}-#{i*10} -nowrap">
                            <a href="#">Home</a>
                            <a href="#" class="active">About</a>
                            <a href="#">Contact</a>
                            <a href="#">Log In</a>
                            <span>
                                Just Text
                            </span>
                        </div>
    
                        <div class="uniformNav -pills -active-#{color}-#{i*10} margin-top-2x -nowrap">
                            <a href="#">Home</a>
                            <a href="#" class="active">About</a>
                            <a href="#">Contact</a>
                            <a href="#">Log In</a>
                            <span>
                                Just Text
                            </span>
                        </div>
                        HTML
                    } %>
                <% end %>
            <% end %>
        </table>
    </div>
</div>