<div class="section">
    <h1>uniformTable</h1>
    
<% table = capture_html do %>
<table class="uniformTable :selecor">
    <thead>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
        </tr>
    </thead>
    <% (0..6).each do |i| %>
        <tr>
            <td>Cell <%= i * 3 + 1 %></td>
            <td class="pad-2x">Cell <%= i * 3 + 2 %></td>
            <td>Cell <%= i * 3 + 3 %></td>
        </tr>
    <% end %>
</table>
<% end %>
    
    <h3><code>.uniformTable</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= table.gsub(":selecor", "") %>
        </div>
        <div class="width-1/2">
            <% code 'html', css_class: 'max-height-200-px overflow-y' do %>
                <%= table.gsub(":selecor", "") %>
            <% end %>
        </div>
    </div>
    
    <h3><code>.uniformTable.-snug</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= table.gsub(":selecor", "-snug") %>
        </div>
        <div class="width-1/2">
            <% code 'html', css_class: 'max-height-200-px overflow-y' do %>
                <%= table.gsub(":selecor", "-snug") %>
            <% end %>
        </div>
    </div>
    
    <h3><code>.uniformTable.-tight</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= table.gsub(":selecor", "-tight") %>
        </div>
        <div class="width-1/2">
            <% code 'html', css_class: 'max-height-200-px overflow-y' do %>
                <%= table.gsub(":selecor", "-tight") %>
            <% end %>
        </div>
    </div>
</div>