<div class="section">
    <h1>uniformThumb</h1>
    <p class="margin-v">
        The size of the image doesn't matter, it will fill the shape of the <code>.uniformThumb</code> using <code>object-fit: cover;</code>.
    </p>
    <p class="margin-v">
        <code>.uniformThumb</code> requires a width and height to be set because it cannot rely on the dimensions of the image. Fortunately, using the <code>aspect-</code> utility only the width dimension has to be explicit.
    </p>
    
<% thumb = capture_html do %>
<div class="uniformThumb :selector">
    <img src="https://unsplash.it/200/200/?random" width="200" height="200">
</div>
<% end %>

    
    <h3><code>.uniformThumb.aspect-square</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= thumb.gsub(":selector", "width-100-px aspect-square") %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= thumb.gsub(":selector", "width-100-px aspect-square") %>
            <% end %>
        </div>
    </div>
    
    <h3><code>.uniformThumb.aspect-4x3</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= thumb.gsub(":selector", "width-100-px aspect-4x3") %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= thumb.gsub(":selector", "width-100-px aspect-4x3") %>
            <% end %>
        </div>
    </div>
    
    <h3><code>.uniformThumb.aspect-2x1</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= thumb.gsub(":selector", "width-100-px aspect-2x1") %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= thumb.gsub(":selector", "width-100-px aspect-2x1") %>
            <% end %>
        </div>
    </div>
    
    <h3><code>.uniformThumb.aspect-16x9</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= thumb.gsub(":selector", "width-100-px aspect-16x9") %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= thumb.gsub(":selector", "width-100-px aspect-16x9") %>
            <% end %>
        </div>
    </div>
    
    <h3><code>.uniformThumb.round</code></h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= thumb.gsub(":selector", "width-100-px aspect-square round overflow-hidden") %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
                <%= thumb.gsub(":selector", "width-100-px aspect-square round overflow-hidden") %>
            <% end %>
        </div>
    </div>
    
    <% html = capture_html do %>
    <div class="uniformThumb width-100-px aspect-4x3">
        <span>Text</span>
    </div>
    <% end %>
    <h3><code>.uniformThumb</code> With Placeholder Text</h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
            <%= html %>
            <% end %>
        </div>
    </div>
    
    <% html = capture_html do %>
    <div class="uniformThumb width-100-px aspect-4x3">
        <span>
            <svg class="inline-block" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><path d="M28.998 8.531l-2.134-2.134c-0.394-0.393-1.030-0.393-1.423 0l-12.795 12.795-6.086-6.13c-0.393-0.393-1.029-0.393-1.423 0l-2.134 2.134c-0.393 0.394-0.393 1.030 0 1.423l8.924 8.984c0.393 0.393 1.030 0.393 1.423 0l15.648-15.649c0.393-0.392 0.393-1.030 0-1.423z" fill="#BBFF00"></path></svg>
        </span>
    </div>
    <% end %>
    <h3><code>.uniformThumb</code> With Placeholder Icon</h3>
    <div class="flex space-h">
        <div class="width-1/2">
            <%= html %>
        </div>
        <div class="width-1/2">
            <% code 'html' do %>
            <%= html %>
            <% end %>
        </div>
    </div>
</div>